/* Mobile Styling */
.a {
  display: flex;
  /* width: 1fr; */
  height: 75px;
  outline: 1px solid #888;
  background-image: url(http://via.placeholder.com/480x75);
  background-size: 100% auto; 
}
.b {
  display: flex;
  /* width: 20.83%; */
  height: 150px;
  outline: 1px solid #888;
  background-image: url(http://via.placeholder.com/480x150);
  background-size: 100% auto; 
}
.c, .d {
  display: flex;
  /* width: 39.58%; */
  height: 125px;
  outline: 1px solid #888;
  background-image: url(http://via.placeholder.com/480x125);
  background-size: 100% auto; 
}
.e, .f, .g, .h {
  display: flex;
  /* width: 25%; */
  height: 250px;
  outline: 1px solid #888;
  background-image: url(http://via.placeholder.com/240x250);
  background-size: 100% auto; 
}

.i {
  display: flex;
  /* width: 50%; */
  height: 80px;
  outline: 1px solid #888;
  background-image: url(http://via.placeholder.com/480x80);
  background-size: 100% auto; 
}

/* Desktop Styling */
@media all and (min-width: 768px) {
  .a {
    display: flex;
    height: 100px;
    outline: 1px solid #888;
    background-image: url(http://via.placeholder.com/960x100);
    background-size: 100% auto; 
  }
  .b {
    display: flex;
    height: 600px;
    outline: 1px solid #888;
    background-image: url(http://via.placeholder.com/200x600);
    background-size: 100% auto; 
  }
  .c, .d {
    display: flex;
    height: 200px;
    outline: 1px solid #888;
    background-image: url(http://via.placeholder.com/380x200);
    background-size: 100% auto; 
  }
  .e, .f, .g, .h {
    display: flex;
    height: 250px;
    outline: 1px solid #888;
    background-image: url(http://via.placeholder.com/190x250);
    background-size: 100% auto; 
  }

  .i {
    display: flex;
    height: 120px;
    outline: 1px solid #888;
    background-image: url(http://via.placeholder.com/760x150);
    background-size: 100% auto; 
  }
}